* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #FFFFFF;

  --gray-100: #E1E1E6;
  --gray-300: #a8a8a8;
  --gray-600: #4D4D51;
  --gray-650: #3F4152;
  --gray-700: #37373F;
  --gray-720: #333443;
  --gray-800: #1d1d20;

  --green-500: #80FFA3;
  --blue-500: #62D9FF;
  --blue-800: #4CA9FF;
}

:focus {
  outline: var(--blue-800);
}

@media (max-width: 1080px) {
  font {
    font-size: 93.75%; // 15px
  }
}

@media (max-width: 720px) {
  font {
    font-size: 87.5%; // 14px
  }
}

body {
  background: var(--gray-800);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem var(--font-montserrat), san-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
