.header {
  max-width: 1140px;
  width: 100%;
  min-height: 5rem;
  max-height: 5rem;
  background: var(--gray-800);
  position: relative;

  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 1px solid var(--gray-600);

  h3 {
    font-weight: 700;
    color: var(--white);
    font-size: 1.5rem;
  }
  div {
    justify-content: center;
    display: flex;
    padding: 0.625rem;
    gap: 4rem;

    a {
      font-weight: 400;
      color: var(--white);
      font-size: 1rem;

      transition: color 0.2s;

      &:hover {
        color: var(--blue-500);
      }
    }
  }
}

@media (max-width: 650px) {
  .header {
    display: flex;
    width: 100%;

    h3 {
      visibility: hidden;
      width: 0px;
    }

    div {
      flex: 1;
      justify-content: space-between;
      gap: 0px;
    }
  }
}
